<!DOCTYPE html>
<html>
<head>
	<title>Feedback </title>
	<link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css">
	<script type="text/javascript" src="/js/lib/jQuery.js"></script>
	<style type="text/css">
		.form-inline{
			margin-bottom: 5px;
		}
		.space > * {
   			margin-right: 2px;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Feedback</a>
			</div>
		</div>
	</nav>

